<?xml version="1.0" encoding="utf-8"?>
<Configuration status="trace" strict="true" name="EPSClientLog">
	<Properties>
		<Property name="filename">./eps.log</Property>
	</Properties>
	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Appender>
        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Appender>
	</Appenders>
	<Loggers>
		<Logger name="com.bhz.eps.service" level="trace" additivity="false">
			<AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
		</Logger>
		<Logger name="com.bhz.eps.dao" level="trace" additivity="false">
			<AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
		</Logger>
		<Root level="trace">
			<AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
		</Root>
	</Loggers>
</Configuration>